body {
	color: #fff;
	background: #000 url('../images/layout/death-star.jpg') no-repeat left top;
	-webkit-background-size: cover;
	background-size: cover;
	height: 100%;
}
.game-logo {
	position: absolute;
	right: 50px;
	top: 50px;
	width: 300px;
}
.character,
.character-enemy {
	display: inline-block;
	margin-right: 20px;
	width: 200px;
	height: 200px;
	border: solid 1px #fff;
}
.character:hover,
.character-active {
	border: solid 1px green;
}
.character-enemy {
	border: solid 1px red;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}